.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.already-linked {
    color: #1DC77D;
}

.col-2.add-foods {
    flex: 0;
    margin: 3px;
}

button.btn.btn-primary.addFood {
    background-color: #E93D98;
    border-color: #E93D98;
}

cite {
    font-size: 75%;
}

.alert-info {
    background-color: #FFFFFF;
}

.fc-day-header {
    font-family: 'Roboto Mono', monospace;
}

div.fc-center h2 {
    font-family: 'Roboto Mono', monospace;
    color: #FFFFFF;
}

.fc-view.fc-listWeek-view.fc-list-view.card.card-primary {
    border-radius: .25rem;
}

.custom-input {
  padding: 0.5em;
  border: 0;
  border-bottom: 1px solid black;
}

a.addFood {
    color: #E93D98;
}

.fc-day-number {
    font-family: 'Roboto Mono', monospace;
}

.card-title {
    margin-bottom: .75rem;
    color: #032059;
}

.navbar-brand {
    /*font-family: 'Montserrat', sans-serif;*/
    font-weight: bold;
}

.nav-link {
    color: white;
}

.temporary {
    color: red;
    font-style: italic;
}

textarea {
    width: 50em;
}

.boxy {
    margin-bottom: 10px;
    margin-top: 5px;
}

#daily_date {
    font-family: 'Roboto Mono', monospace;
}  

h4 {
    font-family: 'Roboto Mono', monospace;
} 


h1, h2, h3, h5 {
    font-family: 'Montserrat', sans-serif;
    color: #FFC7D5;
}

body {
    background-color: #032059;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.btn-primary {
    color: #fff;
    background-color: #1DC77D;
    border-color: #1DC77D;
}

.btn-primary:hover {
    color:#fff;
    background-color:#1D52F2;
    border-color:#1D52F2}

.btn-primary:disabled {
    color:#fff;
    background-color:#667084;
    border-color:#667084}

a {
    color: #F2385A;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #1D52F2;
    text-decoration: none;
    background-color: transparent;
}

.alert-warning {
    color: #FFC7D5;
    background-color: #A62690;
    border-color: #A62690;
    font-family: 'Roboto', sans-serif;
}

.text-muted {
    color: #FFC7D5!important;
}

/*.tooltip-inner {
    background-color: #667084;
    border-bottom-color: #667084;
}*/



.card-img-top {
    width: 100%;
    border-top-left-radius: calc(2.25rem - 1px);
    border-top-right-radius: calc(2.25rem - 1px);
    height: 90%;
    max-height: 200;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255,255,255,1);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 2.25rem;
    color: #032059;
}

.custom-range::-webkit-slider-thumb {
  background: #E93D98;
  border-color: #E93D98;
}

.custom-range::-webkit-slider-thumb:hover {
  background: #FFC7D5;
}

.tickmark {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.col-1.add-foods {
    max-width: 3%;
}

#symptom_severity {
    display: inline-block;
}

.in-modal {
    color: #032059;
}

/*tooltip*/
.tooltip{
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:11px;
    opacity:0;
    filter:alpha(opacity=0)
}

.tooltip.in{
    opacity:.8;
    filter:alpha(opacity=80)
}
.tooltip.top{
    margin-top:-2px
}
.tooltip.right{
    margin-left:2px
}
.tooltip.bottom{
    margin-top:2px
}
.tooltip.left{
    margin-left:-2px
}
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #667084
}
.tooltip.left .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #667084
}
.tooltip.bottom .tooltip-arrow{
    top:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #667084
}
.tooltip.right .tooltip-arrow{
    top:50%;
    left:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-right:5px solid #667084
}
.tooltip-inner {
    max-width:200px;
    padding:3px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#667084;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}

.tooltip-arrow{
    position:absolute;
    width:0;
    height:0
}