div.food {
    border-radius: 3px;
    border: 3px solid black;
    width: 20em;
    height: 21em;
    margin: 2em;
    padding: 1em;
    display: inline-block;
}

img {
    height: 12em;    
}

.temporary {
    color: red;
    font-style: italic;
}

textarea {
    width: 50em;
}

.boxy {
    margin-bottom: 10px;
    margin-top: 5px;
}

#daily_date {
    font-family: 'Roboto Mono', monospace;
}