{% extends 'base.html' %}

{% block title %}Add a symptom{% endblock %}

{%block content %}
<div class="container">
    <h2>Add a symptom</h2>

    <form action="/add_symptom" method="POST">
        Symptom Felt: 
        <select name="symptom_to_add">
            {% for symptom in symptoms %}
            <option value="{{ symptom.id }}">{{ symptom.name.capitalize() }}</option>    
            {% endfor %}
        </select>
        <br>
        Time felt: <input type="datetime-local" id="symptom_time" name="symptom_time" class="boxy" required/><br>
        <br><input type="submit" /><br>
            
    </form>
<div>
{% endblock %}

{% block js %}

    <script src='/static/js/add_symptom.js'></script>

{% endblock %}