{% extends 'base.html' %}

{% block title %}Add a symptom{% endblock %}

{%block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <h3>Add a symptom</h3>

            <form action="/add_symptom" method="POST">
                <div class="form-group">
                    <label class="my-1 mr-2" for="symptom_to_add">Symptom Felt</label>
                    <select class="custom-select my-1 mr-sm-2" name="symptom_to_add" id="symptom_to_add">
                        {% for symptom in symptoms %}
                            <option value="{{ symptom.id }}">{{ symptom.name.capitalize() }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="time_eaten">Time felt</label>
                    <input type="datetime-local" class="form-control" id="symptom_time" name="symptom_time">
                </div>
                <div class="form-group">
                    <label for="symptom_severity">Symptom Severity</label>
                    <div class="d-flex justify-content-center my-4">
                        <span class="font-weight-bold">1</span>
                        <input type="range" class="custom-range" min="1" max="5" id="symptom_severity" name="symptom_severity"/>
                        <span class="font-weight-bold"> 5 </span>
                    </div>
                </div>
                    <br><button type="submit" class="btn btn-primary">Submit</button><br>
                </div>
                    
            </form>
        </div>
    </div>
<div>
{% endblock %}

{% block js %}

    <script src='/static/js/add_symptom.js'></script>

{% endblock %}