{% extends 'base.html' %}

{% block title %}Add a food{% endblock %}

{% block content %}
<div class="container"> 
    <div class="row">
        <div class="col-8">
            <h1>Add a food</h1>
            <h2>Search our database by name or brand:</h2>
            <form id="db-search">
                <div class="form-group">
                    <input type="text" class="form-control" id="db_search_term" name="db_search_term" placeholder="..our database grows every day!">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form><br>
            <div id="display-db-search-specific"></div><br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Or, add a food from your recent history:</h4>
            <div id="display-db-search"></div><br>
        </div>
    </div>

    <br><br>
    
    <div class="row">
        <div class="col-8">
            <h2>OR, add a food from an external database:</h2>

            <form id="search-food">
              <div class="form-group">
                <input type="text" class="form-control" id="search_term" name="search_term" placeholder="We give you lots of options :)">
              </div>
              <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>

<!--         <form id="search-food">
            <input type="text" id="search_term" 
                placeholder="Search external database" size="100" required />
            <input type="submit" class="btn btn-dark"/>
        </form> -->


        <div class="container">
            <div class="row" id="manual_add"></div>

                <div class="row row-cols-1 row-cols-md-2" id="display-search"></div>
        </div>

    </section>

</div>
{% endblock %}

{% block js %}
<script src='/static/js/add_food.js'></script>
{% endblock %}