<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
        
        <!-- jquery -->
        <script
          src="https://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous">
        </script>
        <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    </head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">

            <div class="navbar-header">
                <!-- <img src="would go here"> -->
                <a class="navbar-brand" href="/">Home</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if session.get('user_id') %}
                        <li><a href="/add_food">🍔 Add a Food</a></li>
                        <li><a href="/add_symptom">📍 Add a Symptom</a></li>
                        <li><a href="/logout">🔓 Log out</a></li>
                    {% else %}
                        <li><a href="/register">📝 Register</a></li>
                        <li><a href="/login">🔒 Log In</a></li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </div>
    <div class="container">

      <!-- Show flashed messages -->
      {% with messages = get_flashed_messages() %}
          {% for message in messages %}
              <div class="alert alert-warning">{{ message }}</div>
          {% endfor %}
      {% endwith %}

      <!-- This is where the main content goes. -->
      {% block content %}
          CONTENT GOES HERE
      {% endblock %}

    </div>

    <!-- Include any page-specific Javascript using this block. -->
    {% block js %}
    {% endblock %}
</body>
<footer>

</footer>
</html>