<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- To ensure proper rendering and touch zooming for all devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <script
          src="https://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous">
    </script>

    <!-- Overriding CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <title>{%block title %}title goes here{% endblock %}</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"><i class="fab fa-connectdevelop"> </i>Demo Home</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if session.get('user_id') %}
            <li class="nav-item">
              <a class="nav-link" href="/add_food">
                <i class="fas fa-utensils"></i> Add a Food
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add_symptom">
                <i class="far fa-heart"></i> Add a Symptom
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">
                <i class="fas fa-lock-open"></i> Log out
              </a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/register">
                <i class="far fa-clipboard"></i> Register
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">
                <i class="fas fa-lock"></i> Log In
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
          <!-- Show flashed messages -->
      {% with messages = get_flashed_messages() %}
          {% for message in messages %}
              <div class="alert alert-warning">{{ message }}</div>
          {% endfor %}
      {% endwith %}

      <!-- This is where the main content goes. -->
      {% block content %}
          CONTENT GOES HERE
      {% endblock %}

    </div>

    <!-- Include any page-specific Javascript using this block. -->
    {% block js %}
    {% endblock %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
          src="https://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous">
    </script>
    <!-- Popper.js -->
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
      crossorigin="anonymous">
    </script>
    <!-- Bootstrap JS -->
    <script 
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
      crossorigin="anonymous">
    </script>
  </body>
</html>