<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
        
        <!-- jquery -->
        <script
          src="https://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous">
        </script>
        <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>

    </head>
<body>
    <!-- Include the page's content with this block. -->
    {% block content %} 
    CONTENT GOES HERE 
    {% endblock %}

    <!-- Include any page-specific Javascript using this block. -->
    {% block js %}
    {% endblock %}
</body>
<footer>
    <br><br><br>
    Go <a href="/">home</a><br>
    {% if session.get('user_email') %}
        <a href="/logout">Logout</a><br>
    {% else %}
        <a href="/login">Log In</a><br>
    {% endif %}
</footer>
</html>