{% extends 'base.html' %}
  {% block extraHead %}
    <meta charset='utf-8' />

    <link href='/static/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='/static/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
    <link href='/static/fullcalendar/packages/bootstrap/main.css' rel='stylesheet' />

    <script src='/static/fullcalendar/packages/core/main.js'></script>
    <script src='/static/fullcalendar/packages/daygrid/main.js'></script>
    <script src='/static/fullcalendar/packages/bootstrap/main.js'></script>

    <script src='/static/js/calendar.js'></script>
    
  {% endblock %}

  {% block title %}All Symptoms{% endblock %}
  {% block content %}

    <div class="container">
        <div class="row">
            <div class="col-4">
                <h3>Flagged Ingredients:</h3>
                {% if not user_symptoms %}
                    None yet! We need to do more sleuthing 🕵🏻‍♀️
                {% else %}
                    <ul>
                        {% for symptom in user_symptoms %}
                            <li>Ingredients that cause {{symptom.name}}</li>
                                <ul>
                                    {% for intolerance in intolerances %}
                                        {% if intolerance.symptom.name == symptom.name %}
                                            <li>{{ intolerance.ingredient.name }}</li>
                                        {% endif %}
                                    {% endfor %}
                                
                                </ul>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col">
                <div id='calendar'></div>
            </div>
        </div>
    </div>


  {% endblock %}
</html>