{% extends 'base.html' %}
  {% block extraHead %}
    <meta charset='utf-8' />

    <link href='/static/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='/static/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />

    <script src='/static/fullcalendar/packages/core/main.js'></script>
    <script src='/static/fullcalendar/packages/daygrid/main.js'></script>

    <script src='/static/js/calendar.js'></script>
    
  {% endblock %}
  {% block content %}

    <div class="container">
      <div id='calendar'></div>
    </div>

  {% endblock %}
</html>