{% extends 'base.html' %}

{% block title %} Confirm & Add Food {% endblock %}

{% block content %}
<div class="container">
<h1>{{food.name}}</h1>
<form action="/add_food" method="POST">
    <div class="form-group">
        <label for="timeEaten">What time did you eat this?</label>
        <input type="datetime-local" class="form-control" id="time_eaten" placeholder="Enter email" size="50" required>
    For which meal? 
        <select name="meal_to_add" id="meal_to_add">
            {% for meal in meals %}
                <option value="{{ meal.id }}">{{ meal.name.capitalize() }}</option>    
            {% endfor %}
        </select>
    <input type="hidden" name="food_id" value={{food.id}} /><br>
    </div>
    <input type="submit" />
</form>

<h3>Ingredients:</h3>

<ul>
    {% for ingredient in food.ingredients %}
    <li>{{ ingredient.name }}</li>
    {% endfor %}
</ul>

</div>
{% endblock %}

{% block js %}

    <script src='/static/js/confirm_food.js'></script>

{% endblock %}