{% extends 'base.html' %}

{% block title %}Daily View{% endblock %}

{% block content %}
<div class="container">
    <div><h1><i class="far fa-calendar-alt"></i> Your food diary for:<br>
        <a href="/{{ day_backward }}"><i class="fas fa-angle-double-left"></i></a> 
            <span id="daily_date">{{ selected_date }}</span>
        <a href="/{{day_forward}}"><i class="fas fa-angle-double-right"></i></a>
        
   </h1></div>
    <p>Here would be a daily view of:</p>
    <ul>
        {% for meal in meals %}
        <li>What you ate for {{meal.name}}</li>
        <ul>
            {% for food in user_foods %}
                {% if food.meal.name == meal.name %}
                    <li>{{ food.food.name}} @ {{food.ts.time().strftime("%I:%M %p")}}
                        <a href="/food_log_view/{{food.id}}">
                            <i class="fas fa-search"></i>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
    As wells as:<br>
    <ul>
        <li>Any symptoms you might have</li>
            <ul>
                {% for symptom in user_symptoms %}
                    <li> {{symptom.symptom.name.capitalize()}} 
                        @ {{symptom.ts.time().strftime("%I:%M %p")}}
                        <a href="/symptom_view/{{symptom.symptom.id}}">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
    </ul>
    <br><br>
    <button class="btn btn-primary" onclick="window.location.href = '/add_food';">Add food!</button>
    <button class="btn btn-primary" onclick="window.location.href = '/add_symptom';">Add symptom!</button>

<br>

</div>

{% endblock %}