{% extends 'base.html' %}

{% block title %}Daily View{% endblock %}

{% block content %}
    <h1> {% if selected_date == current_date %}
        Today's Date: {{ selected_date }}</h1>
        {% else %}
        Selected Date: {{ selected_date }}
    {% endif %}
    <h2>
        <a href="/{{ day_backward }}">Back One Day</a> & 
        <a href="/{{day_forward}}">Forward One Day</a></h2>
    <p>Here would be a daily view of:</p>
    <ul>
        <li>What you ate for breakfast</li>
            <div id="breakfast-foods"></div>
        <li>What you ate for lunch</li>
            <div id="lunch-foods"></div>
        <li>What you ate for dinner</li>
            <div id="dinner-foods"></div>
        <li>Any snacks you ate</li>
            <div id="snack-foods"></div>
    </ul>
    As wells as:<br>
    <ul>
        <li>Any symptoms you might have 
            <div id="symptoms"></div>
        </li>
    </ul>

Add a <a href="/add_food">food</a>!
Add a <a href="/add_symptom">symptom</a>!

{% endblock %}