{% extends 'new_base.html' %}

{% block title %}Register User{% endblock %}

{% block content %}
<div class="container">
    <form action="/register" method="POST">
        Email<br>
        <input type="text" name="email" size="50"/><br>
        Password<br>
        <input type="password" name="password" size="50"/><br>
        Confirm password<br>
        <input type="password" name="confirm_password" size="50"/><br>
        <input type="submit" name="submit" />
    </form>
</div>

{% endblock %}