{% extends 'base.html' %}

{% block title %}Symptom Detail{% endblock %}

{% block content %}

<div class="container">
<h1>All the times you felt: {{ symptom.name }}</h1>
    <ul>
    {% if not symptoms %}
        Oops! Looks like there's nothing to see here 👀
    {% endif %}
    {% for symptom in symptoms %}
        <li> {{ symptom.ts.strftime('%A, %B %d @ %I:%M %p') }}</li>
    {% endfor %}
    </ul>

<h2>Ingredients that might be related to this symptom:</h2>
    <ul>
        {% if not common_ingredients %}
            None yet! We need to collect more data 👩🏽‍🔬
        {% endif %}
        {% for ingredient in common_ingredients %}
            <li> 
                {{ingredient['ingredient']}} ({{ingredient['count']}} times)
                {% if ingredient['count'] > 2 %}
                    <a href="/new_link" id="{{ingredient['ingredient_id']}}">
                        <i class="fas fa-link"></i>
                    </a>
                    
                    <script>
                    $('#{{ingredient['ingredient_id']}}').on('click', (evt) => {
                        evt.preventDefault();

                        if (confirm("Confirm {{ingredient['ingredient']}} as a cause of {{symptom.name}}")) {

                            const formInputs = {
                                'ingredient_id': {{ingredient['ingredient_id']}},
                                'symptom_id': {{symptom.id}}
                            };

                            $.post('/new_link', formInputs, (res) => {
                                alert(res);
                            });
                        }
                    });
                </script>

                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}