{% extends 'base.html' %}
{% block extraHead %}
    <meta charset='utf-8' />

    <link href='/static/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='/static/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
    <link href='/static/fullcalendar/packages/list/main.css' rel='stylesheet' />
    <link href='/static/fullcalendar/packages/timegrid/main.css' rel='stylesheet' />
    <link href='/static/fullcalendar/packages/bootstrap/main.css' rel='stylesheet' />

    <script src='/static/fullcalendar/packages/core/main.js'></script>
    <script src='/static/fullcalendar/packages/daygrid/main.js'></script>
    <script src='/static/fullcalendar/packages/list/main.js'></script>
    <script src='/static/fullcalendar/packages/timegrid/main.js'></script>
    <script src='/static/fullcalendar/packages/bootstrap/main.js'></script>

    <script src='/static/js/calendar.js'></script>
    
  {% endblock %}

{% block title %}Symptom Detail{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1><span id="symptom_header" name={{symptom.name}}>
                Recent {{ symptom.name }} experiences: 
            </span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="weekly-calendar"></div>
        </div>
    </div>
    <br>
            <h3>Ingredients that might be related to this symptom:</h3>

                {% if not common_ingredients %}
                    None yet! We need to do more sleuthing 🕵🏻‍♀️
                
                {% else %}
                    <div class="row">
                        <div class="col-2 text-right" style="font-family: 'Roboto Mono', monospace;">
                            <b><u># of occurences</u></b>
                        </div>
                        <div class="col-3 align-self-start" style="font-family: 'Roboto Mono', monospace;">
                            <b><u>ingredient</u></b>
                        </div>
                    </div>

                    {% for ingredient in common_ingredients %}
                        <div class="row">
                            <div class="col-2 text-right">
                                {% if ingredient['count'] > 3 and ingredient['ingredient'] not in linked_ingredients %}
                                    <a href="/new_link" id="{{ingredient['ingredient_id']}}" data-toggle="tooltip" data-placement="left" title="Link as a cause of {{symptom.name}}!">
                                        <i class="fas fa-link"></i>
                                    </a>
                                    <script>
                                        $('#{{ingredient['ingredient_id']}}').on('click', (evt) => {
                                            evt.preventDefault();

                                            $().alert()

                                            if (confirm("Confirm {{ingredient['ingredient']}} as a cause of {{symptom.name}}")) {

                                                const formInputs = {
                                                    'ingredient_id': {{ingredient['ingredient_id']}},
                                                    'symptom_id': {{symptom.id}}
                                                };

                                                $.post('/new_link', formInputs, (res) => {
                                                    window.location.href = "/my_symptoms";
                                                });
                                            }
                                        });
                                    </script>
                                {% elif ingredient['count'] > 3 and ingredient['ingredient'] in linked_ingredients %}
                                    <span class="already-linked" data-toggle="tooltip" data-placement="left" title="Already been linked!">
                                        <i class="fas fa-link"></i>
                                    </span>
                                {% endif %}
                                {% for i in range (ingredient['count']) %} <i class="fas fa-circle"></i> {% endfor %}
                                
                            </div>
                            <div class="col-3 align-self-start">
                                {{ingredient['ingredient']}} 
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    const symptomID = {{symptom.id}};
    const symptomName = $('#symptom_header').attr('name')

</script>
<script src='/static/js/moment.js'></script>
<script src='/static/js/moment-timezone.js'></script>
<script src='/static/js/symptom_view.js'></script>

{% endblock %}