{% extends 'base.html' %}

{% block title %}Symptom Detail{% endblock %}

{% block content %}

<div class="container">
<h1>All the times you felt: {{ symptom.name }}</h1>
    <div id="symptom_logs">
        <ul>
        {% if not symptoms %}
            Oops! Looks like there's nothing to see here 👀
        {% endif %}
        {% for symptom in symptoms %}
            <li> OLD: {{ symptom.ts.strftime('%A, %B %d @ %I:%M %p') }}</li>
        {% endfor %}
        </ul>
    </div>

<h2>Ingredients that might be related to this symptom:</h2>
    <ul>
        {% if not common_ingredients %}
            None yet! We need to collect more data 👩🏽‍🔬
        {% endif %}
        {% for ingredient in common_ingredients %}
            <li> 
                {{ingredient['ingredient']}} 
                    {% for i in range (ingredient['count']) %} <i class="fas fa-circle"></i> {% endfor %}
                {% if ingredient['count'] > 2 %}
                    <a href="/new_link" id="{{ingredient['ingredient_id']}}">
                        <i class="fas fa-link"></i>
                    </a>
                    
                    <script>
                    $('#{{ingredient['ingredient_id']}}').on('click', (evt) => {
                        evt.preventDefault();

                        if (confirm("Confirm {{ingredient['ingredient']}} as a cause of {{symptom.name}}")) {

                            const formInputs = {
                                'ingredient_id': {{ingredient['ingredient_id']}},
                                'symptom_id': {{symptom.id}}
                            };

                            $.post('/new_link', formInputs, (res) => {
                                window.location.href = "/user_symptoms";
                            });
                        }
                    });
                </script>

                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}

{% block js %}
<script>
    const symptomID = {{symptom.id}};
</script>
<script src='/static/js/moment.js'></script>
<script src='/static/js/moment-timezone.js'></script>
<script src='/static/js/symptom_view.js'></script>

{% endblock %}