{% extends 'base.html' %}

{% block title %}User {{ session['user_id']}}'s intolerances {% endblock %}

{% block content %}

<p>KNOWN ISSUES:</p>
    <ul>
        {% for symptom in user_symptoms %}
            <li>Ingredients that cause {{symptom.name}}</li>
                <ul>
                    {% for intolerance in intolerances %}
                        {% if intolerance.symptom.name == symptom.name %}
                            <li>{{ intolerance.ingredient.name }}</li>
                        {% endif %}
                    {% endfor %}
                
                </ul>
        {% endfor %}
    </ul>

{% endblock %}